<div class="card-body">
  <form novalidate [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password" class="control-label font-weight-bold"
        >Password</label
      >
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Choose a password"
        autocomplete="new-password"
      />
    </div>

    <span *ngIf="passwordForm.errors?.['passwordError']">Not match</span>
    <app-strenght-bar
      [passwordToCheck]="passwordForm.value.password"
    ></app-strenght-bar>
    <button
      type="submit"
      class="btn btn-warning"
      [disabled]="passwordForm.invalid"
      value="Password"
    >
      Clear
    </button>
  </form>
</div>
